.DS_Store

./Election2016Analysis/config.py

/Users/alexguanga/all_projects/ds-portfolio/TitanicaAnalysis/RPART_SUB_20170714_1.csv
/Users/alexguanga/all_projects/ds-portfolio/TitanicaAnalysis/RandomF_SUB_20170621.csv
/Users/alexguanga/all_projects/ds-portfolio/__pycache__


/Users/alexguanga/all_projects/ds-portfolio/IrisAnalysis/Untitled
/Users/alexguanga/all_projects/ds-portfolio/IrisAnalysis/Reference.ipynb
/Users/alexguanga/all_projects/ds-portfolio/IrisAnalysis/Confusion.ipynb

.ipynb_checkpoints
